* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff3e01;
  --text-color: #dcc8b0;
}

body {
  background-color: black;
}

.main-header {
  padding: 40px 0 40px 0;
}

.lux-header {
  color: white;
  font-weight: bold;
}

.nav-link {
  color: white !important;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.4s;
}

.nav-link:hover {
  color: #ff3e01 !important;
}

.divider {
  color: #ffffff90;
  margin: 0 10px;
  margin-top: 5px;
}

.nav-icon {
  font-size: 18px;
  cursor: pointer;
  transition: all 0.4s;

}

.nav-icon:hover {
  color: #ff3e01;
}

.bag-count {
  margin-left: 4px;
  font-size: 12px;
}

.left-nav {
  margin-left: 120px;
}

.right-nav {
  margin-right: 120px;
}

.icons li i {
  font-size: 21px;
  padding: 0 4px;
}

.logo {
  margin-right: 6%;
}

.header-bottom {
  position: relative;
  z-index: 9;
}

.hero-main {
  background-image: url('/src/assets/hero-bg.jpg');
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: -999;
}

.hero-blue {
  position: absolute;
  left: 129px;
  z-index: 5;
  top: 20px;
}

.hero-pricing {
  position: absolute;
  z-index: 1;
  left: 8%;
  bottom: 15%;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: white;
}

.hero-pricing span {
  color: var(--primary-color);
  font-size: 26px;
  font-weight: 400;
}

.hero-bg-hand {
  padding-top: 30px;
}

.hero-title {
  font-size: 200px;
  color: var(--text-color);
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  bottom: 45%;
  left: 21%;
}

.hero-title span {
  display: inline-flex;
  justify-content: center;
  padding: 0 4%;
  font-family: "Italiana", sans-serif;
}

.text-highlight {
  color: var(--primary-color);
  z-index: 1;
}

.text1 {
  z-index: -1;
}

.featured-card {
  height: 100%;
}

.dark-card {
  background-image: url('/src/assets/banner-watch.png');
  background-size: cover;
  background-position: right;
  background-color: rgb(23 27 34 / .95);
  border-radius: 10px 0 0 10px;
}

.light-card {
  background-image: url('/src/assets/banner-bg-1-2.png');
  background-size: cover;
  background-position: right;
  border-radius: 0 10px 10px 0;
}

.shop-btn {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 25px 40px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  z-index: 1;
  overflow: hidden;
  letter-spacing: .1px;
  transition: all 0.4s;
}

.shop-btn::after,
.shop-btn::before {
  width: 101%;
  height: 100%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  background: #101318;
  display: block;
  transform-origin: center;
  backface-visibility: hidden;
  transition: transform 0.5s ease;
  z-index: -1;
  border-radius: inherit;
  pointer-events: none;
}

.shop-btn::before {
  transform: rotateX(90deg);
}

.shop-btn::after {
  transform: rotateY(90deg);
}

.shop-btn:hover::before {
  transform: rotateX(0);
}

.shop-btn:hover::after {
  transform: rotateY(0);
}


.featured-stars i {
  margin-right: 2px;
}

.left-watch,
.right-watch {
  padding: 0;
}

.hct-section {
  padding-top: 80px;
  padding-bottom: 80px;
  color: white;
}

.hct-subtitle {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.hct-title {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
}

.hct-card {
  clip-path: none;
  background-color: #fff0;
  min-height: 424px;
  background-size: cover;
  padding: 0 0 35px;
  position: relative;
  z-index: 2;
  box-shadow: 0 4px 4px rgb(0 0 0 / .03);
  position: relative;
}

.hct-card::before,
.hct-card::after {
  background: transparent;
  box-shadow: none;
  background-image: url('/src/assets/hct-bg.svg');
  background-size: cover;
  opacity: 1;
  visibility: visible;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
}

.hct-card img,
.hct-card h5,
.hct-card p,
.hct-newtag {
  position: relative;
  z-index: 2;
}

.hct-newtag {
  position: absolute;
  top: 30px;
  left: 2px;
  background: var(--primary-color);
  color: white;
  padding: 6px 15px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.hct-img {
  width: 100%;
  height: auto;
  max-width: 180px;
  display: block;
  margin: auto;
  margin-top: 25px;
}

.hct-name {
  font-size: 28px;
  color: #fff;
  padding-top: 25px;
  font-weight: 600;
}

.hct-price {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  transition: all 0.5s;
}

.hct-card:hover .hct-price {
  opacity: 0;
  transform: scale(0);
}

.cart {
  position: absolute;
  top: -42px;
  color: var(--primary-color);
  opacity: 0;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.5s;
  transform: scale(0);
  cursor: pointer;
}

.hct-card:hover .cart {
  opacity: 1;
  transform: scale(1);
}

@media (max-width: 768px) {
  .hct-title {
    font-size: 30px;
  }

  .hct-card {
    padding: 30px 15px;
  }
}

.custom-watch-container {
  width: 100%;
  display: flex;
  position: relative;
}

.left-section {
  width: 50%;
}

.main-watch-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.right-section {
  width: 50%;
  background-image: url('/src/assets/cate-bg-1-1.png');
}

.category-text {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 700;
  color: var(--primary-color);
}

.custom-title {
  font-size: 48px;
  letter-spacing: 3px;
  font-weight: 700;
  color: #021210;
  font-family: "Italiana", sans-serif;
  line-height: 1.35;
}

.tabs .tab-btn {
  border: none;
  background: transparent;
  font-weight: 600;
  padding: 8px 18px;
  cursor: pointer;
  transition: 0.3s;
}

.tabs .tab-btn.active {
  background: var(--primary-color);
  color: white;
}

.card-box {
  background: white;
  margin: 0 20px 0 0;
  cursor: pointer;
}

.watch-img {
  width: 150px;
}

.watch-title {
  font-size: 25px;
  font-weight: 600;
  color: black;
}

.discover-btn {
  background: transparent;
  font-size: 18px;
  border: none;
  font-weight: bolder;
  color: var(--primary-color);
  cursor: pointer;
}

.cate-ele {
  position: absolute;
  top: 70px;
  right: 161px;
}

.cate-ele1 {
  position: absolute;
  right: 0;
  top: auto;
  bottom: 0;
}

.highclass-section {
  width: 100%;
  padding: 150px 0;
  position: relative;
  overflow: hidden;
  background-image: url("/src/assets/process-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.highclass-section .container {
  position: relative;
  z-index: 5;
}

.process-text {
  color: var(--primary-color);
  font-weight: 600;
  letter-spacing: 4px;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.high-title {
  font-family: "Italiana", sans-serif;
  font-size: 78px;
  font-weight: 800;
  color: white;
  letter-spacing: 10px;
  line-height: 1.05;
}

.watch-img {
  width: 100%;
}

.right-title {
  font-size: 48px;
  letter-spacing: 1px;
  font-weight: 800;
  color: #ffffff;
  line-height: 1.2;
  font-family: "Italiana", sans-serif;

}

.orange-text {
  font-family: "Italiana", sans-serif;
  color: var(--primary-color);
}

.right-desc {
  color: var(--text-color);
  margin: 18px 0 30px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.7;
}

.contact-btn {
  background-color: none;
  color: white;
  border: 2px solid white;
  padding: 25px 40px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  z-index: 1;
  overflow: hidden;
  letter-spacing: .1px;
  transition: all 0.4s;
  text-decoration: none;
  cursor: pointer;
}

.contact-btn::after,
.contact-btn::before {
  width: 101%;
  height: 100%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  color: var(--primary-color);
  display: block;
  transition: transform 0.5s ease;
  z-index: -1;
}

.contact-btn:hover {
  color: var(--primary-color);
}

.contact-btn::before {
  transform: rotateX(90deg);
}

.contact-btn::after {
  transform: rotateY(90deg);
}

.contact-btn:hover::before {
  transform: rotateX(0);
}

.contact-btn:hover::after {
  transform: rotateY(0);
}


@media (max-width: 991px) {
  .high-title {
    font-size: 58px;
  }

  .right-title {
    font-size: 32px;
  }

  .watch-img {
    width: 230px;
  }
}

@media (max-width: 768px) {
  .highclass-section {
    text-align: center;
  }

  .high-title {
    font-size: 50px;
  }

  .right-title {
    font-size: 30px;
  }

  .process-text {
    margin-top: 30px;
  }
}

.video-layout {
  background-image: url(/src/assets/video-bg-3-1.jpg);
  background-position: 50%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  z-index: 1;
  min-height: 615px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.overlay {
  background-color: rgba(213, 103, 3, 0.2);
  z-index: -1;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.sec-text {
  font-family: "Italiana", sans-serif;
  font-size: 85px;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 95px;
  margin: 0 0 15px 0;
}

.sec-subtitle {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
}

.play-btn {
  display: inline-block;
  position: relative;
  z-index: 1;
  border: none;
  padding: 0;
}

.play-btn::after,
.play-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 50%;
  transition: all ease 0.4s;
}

.play-btn::before,
.play-btn::after {
  animation-duration: 3s;
  animation-timing-function:
    ease-in-out;
  animation-iteration-count: infinite;
  animation-name: ripple;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  30% {
    opacity: .4;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.play-btn i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 102px;
  height: 102px;
  text-align: center;
  background-color: rgb(0 0 0 / .5);
  border-radius: 50%;
  z-index: 1;
  transition: all ease 0.4s;
  border: 3px solid white;
}
.play-btn:hover::after,.play-btn:hover::before {
    background-color: var(--primary-color)
}

.play-btn:hover:after,.play-btn:hover::before,.play-btn:hover i {
    background-color: var(--primary-color);
    color: white;
}
.watch-section {
  width: 100%;
}

.watch-gridd {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.watch-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.watch-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  transition: 0.4s ease;
}


.watch-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.1);
  opacity: 0;
  transition: 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.watch-card:hover .watch-overlay {
  opacity: 1;
}

.insta-box {
  background: #e8ddc4;
  padding: 22px 42px;
  border: 4px solid white;
  font-size: 18px;
  font-weight: 800;
  color: black;
  letter-spacing: 1px;
  opacity: 0;
  transform: scale(0);
  transition: 0.4s ease;
}

.watch-card:hover .insta-box {
  opacity: 1;
  transform: scale(1);
}

@media (max-width: 992px) {
  .watch-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .watch-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .watch-grid {
    grid-template-columns: 1fr;
  }
}


.footer {
  color: var(--text-color);
  padding: 80px 100px 40px;
  font-family: 'Poppins', sans-serif;
  background-image: url('/src/assets/footer-image-1-1.png');
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  border-bottom: 1px solid #222;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-logo {
  width: 100%;
  margin-bottom: 20px;
}

.address-title {
  font-weight: 600;
  margin-bottom: -5px;
}

.address-text {
  line-height: 1.6;
}

.payment-icons {
  display: flex;
}

.payment-icons img {
  width: 100%;
  height: auto;
}

.footer-col h4 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
}

.footer-col h4 span {
  color: var(--primary-color);
}

.footer-col a {
  color: #bcbcbc;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s;
}

.footer-col a:hover {
  color: var(--primary-color);
}

.subscribe-box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #555;
  margin: 10px 0 20px;
}

.subscribe-box input {
  background: transparent;
  border: none;
  outline: none;
  padding: 10px 0;
  color: #fff;
  width: 100%;
}

.subscribe-box button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}

.follow-title {
  margin-top: 15px;
  font-size: 15px;
}

.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.icon {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #fff;
}

.fb { background: #1877f2; }
.insta { background: #e1306c; }
.twitter { background: #1da1f2; }
.linkedin { background: #0a66c2; }

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  color: #777;
  font-size: 14px;
}

.footer-bottom span {
  color: var(--primary-color);
  font-weight: 600;
}
